@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap');

*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
}
button:hover{
    background-color: rgb(255, 0, 0);
}


/*first*/
button#run-test-btn{
    width: 50vw;
}

div#first-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*showQa*/
div#showqa-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div#qa-box{
    display: flex;
    flex-direction:column;
}

progress {
    -webkit-appearance: none;
}
progress::-webkit-progress-bar {
    background-color: white;
}
progress::-webkit-progress-value {
    background-color: rgb(255, 0, 0);
}

button.ans-btn{
    height: 10vh;
    width: 80vw;
}
div#question{
    font-size: 1.5rem;
}

/*result-page*/
div#result-page{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:420px) {
    *{
        font-size: 1rem;
    }
    button#run-test-btn{
        width: 80vw;
        font-size: 1.3rem;
    }
    div#title>h1{
        font-size: 2.5rem;
    }
}